.bash_history
.bash_sessions/
.cache/
.cagent/
.cargo/
.CFUserTextEncoding
.config/
.copilot/
.cpanm/
.cups/
.docker/
.DS_Store
.gem/
.git/
.gitconfig
.ipython/
.lesshst
.LizardSafeGuardPDFViewer/
.local/
.npm/
.nvm/
.openbb_platform
.packettracer
.purple/
.python_history
.rbenv/
.rustup/
.shiv/
.ssh/
.Trash/
.vim/
.viminfo
.zcompdump
.zsh_history
.zsh_history.LOCK
.zsh_sessions/
Applications/
Authentication\ Tokens/
Downloads/
go/
Library/
Movies/
Music/
perl5/
Pictures/
Public/
Sites/
